
    @media (max-width: 768px) {
        body {
            background-color:lightblue;
        }
        h1 {
            color: red;
        }
        h2 {
            color: green
        }
        p {
            color: yellow;
        }

    }

    @media (min-width:768px) and (max-width:1199px) {
        body {
            background-color:yellow;
        }
        h1 {
            color: blue;
        }
        h2 {
            color: purple;
        } 
        p {
            color: orange;
        }
    }